# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
# todo Раскоментить для прода
# Сделал для тестового задания, чтобы запускать удобней было
#.env
#*.env

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
.Python
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/